@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>

<p>@Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ValidationMessageFor(model => model.Ingredients, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ValidationMessageFor(model => model.Instructions, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName, "Recipe Name")
  @Html.TextBoxFor(model => model.RecipeName)

  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients)

  @Html.LabelFor(model => model.Instructions)
  @Html.TextBoxFor(model => model.Instructions)

  @Html.LabelFor(model => model.Ranking)
  @Html.TextBoxFor(model => model.Ranking)

  <input type="submit" value="Add new recipe" />
}