@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using RecipeBox.Models
@model RecipeBox.Models.Recipe

<br>
<h2>Recipe Details</h2>
<hr />
<h3>Recipe Name: @Html.DisplayFor(model => model.RecipeName)</h3><hr>

<h3>@Html.DisplayNameFor(model => model.Ingredients): </h3>
<p>@Html.DisplayFor(model => model.Ingredients)</p> @* Fix this! *@

<hr>
<h3>@Html.DisplayNameFor(model => model.Instructions):</h3>
<p>@Html.DisplayFor(model => model.Instructions)</p>

<hr>
<h3>@Html.DisplayNameFor(model => model.Ranking):</h3>
<p>@Html.DisplayFor(model => model.Ranking)</p>

<hr>
@if (@Model.JoinEntities.Count == 0)
{
  <p>This recipe does not have any tags yet!</p>
}
else
{
  <h4>This recipe has the following tags:</h4>
  <ul>
  @foreach (RecipeTag join in Model.JoinEntities)
    {
      <li>Tag: @join.Tag.Cuisine</li>
      @using (Html.BeginForm("DeleteJoin", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" class="buttony" value="Delete" />
      }
    }
  </ul>
}

<hr>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId }, new { @class = "linky"} ) | @Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId }, new { @class = "linky"} ) | @Html.ActionLink("Add a Tag", "AddTag", new {
  id = Model.RecipeId }, new { @class = "linky"} )</p>

@* @if (@Model.User.Id.Equals(@ViewBag.CurrentUser))
{
  <p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId }) | @Html.ActionLink("Add a Tag", "AddTag", new { id = Model.RecipeId }) | @Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
} *@