@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit this Recipe</h2>

<h4>Edit this recipe: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.RecipeName)
  @Html.EditorFor(model => model.RecipeName)

  @Html.LabelFor(model => model.Ingredients)
  @Html.EditorFor(model => model.Ingredients)

  @Html.LabelFor(model => model.Instructions)
  @Html.EditorFor(model => model.Instructions)

  @Html.DisplayNameFor(model => model.Ranking)
  @Html.EditorFor(model => model.Ranking)

  <input type="submit" value="Save" />
}