@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Recipe

@* <h4>Search for recipes by ingredient</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients)
  
  <input type="submit" value="Search for Recipe" />
} *@

@* <h1>Recipes</h1>

@if (@Model.Count == 0)
{
  <h3>No recipes match your search!</h3>
} 

@foreach (Recipe recipe in Model)
{
  <li>@Html.ActionLink($"{recipe.RecipeName}", "Details", new { id = recipe.RecipeId })</li>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p> *@